@mixin verdana-bold($font-size, $line-height) {
      font-family: "Verdana", "Arial", "sans-serif";
      font-weight: bold;
      font-style: normal;
      font-size: $font-size;
      line-height: $line-height;
    }

@mixin open-sans-bold($font-size, $line-height) {
      font-family: "Open Sans", "Arial", "sans-serif";
      font-weight: bold;
      font-style: normal;
      font-size: $font-size;
      line-height: $line-height;
    }

@mixin open-sans-normal($font-size, $line-height) {
      font-family: "Open Sans", "Arial", "sans-serif";
      font-weight: normal;
      font-style: normal;
      font-size: $font-size;
      line-height: $line-height;
    }

@mixin tahoma-bold($font-size, $line-height) {
      font-family: "Open Sans", "Arial", "sans-serif";
      font-weight: bold;
      font-style: normal;
      font-size: $font-size;
      line-height: $line-height;
    }

@mixin container() {
      width: 260px;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
//      background-color: floralwhite;


  @media #{$tablet} {
      width: 668px;
  }

  @media #{$desktop} {
      width: 1050px;
  }
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
