.about-us {
  @include container;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;

  &::before {
    position: absolute;
    content: "";
    top: -30px;
    left: -30px;
    width: 320px;
    height: 6px;
    background-image: url("/img/zizzag-mobile.png");
    background-repeat: no-repeat;
  }
}
.title-for-sections {
  @include verdana-bold(24px, 30px);
}

.about-us__descr {
  margin-bottom: 25px;
  @include verdana-bold(16px, 18px);
}



@media #{$tablet} {
  .about-us__columns {
    display: flex;
  }

  .about-us__descr {
    @include verdana-bold(20px, 22px);
    padding: 50px 0;
    width: 335px;
  }
}



@media #{$desktop} {

  .about-us__title {
    margin-left: 175px;
  }
  .about-us__left-column {
    margin-left: 175px;
    margin-right: 100px;
  }
}
