.about-us {
  @include container;
}
.title-for-sections {
  @include verdana-bold(24px, 30px);
}

.about-us__descr {
  margin: 25px 0;
  @include verdana-bold(16px, 18px);
}



@media #{$tablet} {
  .about-us__columns {
    @include clearfix;
  }

  .about-us__descr {
    @include verdana-bold(20px, 22px);
  }

  .about-us__left-column {
    width: 290px;
    float: left;
  }

  .about-us__right-column {
    width: 290px;
    float: right;
  }
}

@media #{$desktop} {

}
