.contacts {
//  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;

//  &::before {
//    position: absolute;
//    content: "";
//    top: -30px;
//    left: -30px;
//    width: 320px;
//    height: 6px;
//    background-image: url("/img/zizzag-mobile.png");
//    background-repeat: no-repeat;
//  }
}

.contacts__button {
  order: 1;
  margin: 0 auto;
}
.contacts__blocks {
    display: flex;
    @include open-sans-normal(14px, 30px);
    color: #444444;
}

.contacts__adresses {
  padding-right: 30px;
}

.contacts__destination-email {
  color: #444444;
}

.develop-company__name {
  @include verdana-bold(18px, 18px);
}

.contacts__btn-write-us {
    margin: 35px 0;
}

.contacts__body {
  margin-bottom: 30px;
}

//MAP

 .contacts__map {
   position: relative;
//    min-height: 457px;
}

.contacts__map-icon svg {
  position: absolute;
  top: 120px;
  left: 90px;
  width: 70px;
  height: 100px;
}

.contacts__map-icon-flag svg {
  display: none;
}



   //MEDIA TABLET

@media #{$tablet} {

  .contacts {
    margin-bottom: 19px;
  }

   .contacts__body {
    display: flex;
  }

  .contacts__title {
    margin-bottom: 50px;
    padding-left: 0;
  }

  .contacts__blocks {
    @include open-sans-normal(16px, 30px);
    margin-right: 8px;
    width: 310px;
  }

  .contacts__blocks:last-child .contacts__adresses {
    padding-left: 15px;
    margin-right: 0;
  }

  .contacts__wrapper {
    margin-bottom: 25px;
    padding: 0 50px;
  }

  .contacts .contacts__btn-write-us {
    margin: 35px 0;
    width: 227px;
}

  .contacts__map {
    margin-bottom: 17px;
  }

  .contacts__map-icon svg {
    top: 167px;
    left: 346px;
}

  .contacts__map-icon-flag svg {
    display: block;
    position: absolute;
    top: -260px;
    right: 47px;
    width: 55px;
    height: 80px;
  }

}


//MEDIA DESKTOP

@media #{$desktop} {

  .contacts {
    flex-flow: row wrap;
    margin-bottom: 46px;
  }

  .contacts__wrapper {
    width: 350px;
    margin-left: 175px;
  }

  .contacts__title {
    @include verdana-bold(50px, 57px);
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: -5px;
    padding-left: 0;
  }

  .contacts__body {
    flex-direction: column;
  }

  .contacts__blocks:last-child .contacts__adresses {
    padding-left: 0;
    margin-right: 0;
  }

  .contacts__destination {
    margin-bottom: 29px;
  }

  .contacts__button {
    margin: 35px 0 0 0;
  }

  .contacts__button .contacts__btn-write-us {
    width: 228px;
    margin-top: -106px;
    margin-left: 226px;
  }

  .contacts__map {
   margin-left: -51px;
  }

  .contacts__map-icon-flag svg {
    top: 63px;
    left: -466px;
  }

}
