.footer-decor {
  background: $footer-color;
}

.footer-decor__wrapper {
  @include container;
}

.social-links,
.develop-company {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.footer-decor__wrapper .logo-in-footer {
  display: none;
}

@media #{$tablet} {
.footer-decor__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
}

.footer-decor .logo-in-footer {
    display: block;
  }
//  .logo-in-footer,
//  .social-links,
//  .develop-company {
//    display: inline-block;
//  не срабатывает inline-block или float: left;

@media #{$desktop} {

}
