.footer-decor {
  background: $footer-color;
}

.social-links,
.develop-company {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.footer-decor__wrapper {
  width: 260px;
  margin: 0 auto;
}



@media #{$tablet} {
  .footer-decor {
    height: 145px;
  }
.footer-decor__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  }
}

.footer-decor__logo {
  margin-top: 24px;
}

.footer-decor__wrapper .footer-decor__logo svg {
  display: block;
  margin-left: 50px;
  width: 105px;
  height: 35px;
      &:hover {
        fill: #46c1ae;
    }
      &:active {
        fill: #bde3dd;
    }

  .develop-company {
    margin-right: 50px;
  }
}




@media #{$desktop} {

}
