  .inter-map {
   @include container;
    min-height: 457px;
    background: url("/img/map-mobile@1x.jpg") no-repeat 50%;
  }

  .inter-map__button {
    @include container;
}

.center {
  display: block;
  margin: 0 auto;
}

@media #{$tablet} {
    .inter-map {
  }

  .inter-map__button {
    @include container;
    display: flex;
    justify-content: center;
  }

}

@media #{$desktop} {


  }
