   .inter-map img {
   width: 100%;
  }

.inter-map__button {
    @include container;
}

@media #{$tablet} {
    .inter-map {
  }

  .inter-map__button {
    @include container;
    display: flex;
    justify-content: center;
  }

}

@media #{$desktop} {

  }
