.nav-wrapper {
//  @include container;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  order: -2;
  align-self: center;
}

.main-nav__item {
  @include verdana-bold(16px, 24px);
  padding: 28px 0 28px 45px;
//  box-shadow: 0 1px 0 0 #ececec;
  border-bottom: 1px solid #ececec;
}

.main-nav__new-sell-out,
.main-nav__free-delivery {
  display: none;
}

.main-nav__item a {
  text-decoration: none;
  color: #000;
}

//LOGO

.page-header__logo {
//  width: 90px;
//  height: 35px;
//  background: url("/img/logo-mobile.svg") no-repeat 50% 0;
}


@media #{$tablet} {

  .nav-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav {
    flex-grow: 1;
    padding-left: 50px;
    border-top: 1px solid #ececec;
//    background-color: #f1f1f1;
  }

  .main-nav__service {
    display: flex;
    justify-content: flex-end;
    min-width: 330px;
    order: -1;
  }

  .main-nav__service li:first-child {
    width: 85px;
    box-sizing: border-box;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .main-nav__service li:last-child {
//    width: 265px;
  }

  .hidden-media a {
    font-size: 0;
  }

  .main-nav__free-delivery {
    @include verdana-normal(14px, 24px);
    display: block;
    align-self: center;
    padding: 28px 0;
    padding-right: 50px;
    border-top: 1px solid #ececec;
//    background-color: #f1f1f1;
  }

  .main-nav__items li:first-child {
    padding-left: 0;
  }

.main-nav__item {
  @include verdana-bold(14px, 24px);
//  padding-right: 50px;
  border-bottom: 0;

  }

  .main-nav__service li,
  .main-nav__items li,
  .main-nav__new-sell-out li {
    display: inline-block;
  }

  .main-nav__toogle {
    display: none;
  }

  .main-nav__free-delivery {

  }

//  LOGO

  .page-header__logo {
//  width: 115px;
//  height: 80px;
//  background: url("/img/mishka-tablet.png") no-repeat 0% 50%;
  }

}



@media #{$desktop} {

  .nav-wrapper {
    justify-content: space-between;
  }

  .main-nav {
    order: -3;
    flex-grow: 0;
    border-top: 0;
    background-color: transparent;
  }
  .hidden-media {
    font-size: 0;
  }

  .main-nav {
    padding-left: 50px;
  }

  .main-nav__item,
  .main-nav__free-delivery {
    padding-right: 50px;
  }

  .main-nav__items li:last-child {
    padding-left: 70px;
    padding-right: 0;
  }

  .main-nav__new-sell-out {
    display: block;
    flex-grow: 1;
    border-top: 1px solid #ececec;
//    background-color: #f1f1f1;
  }

  .main-nav__new-sell-out li:first-child {
    padding-left: 50px;
  }

  .page-header__logo:hover {
    opacity: .5;
    &:active {
      opacity: .2;
    }
  }
}
