.nav-wrapper {
//  @include container;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  order: -2;
  align-self: center;
//  margin-left: 47px;
}

.main-nav__item {
  @include verdana-bold(16px, 24px);
  padding: 28px 0 28px 45px;
  border-bottom: 1px solid #ececec;
}



.main-nav__new-sell-out,
.main-nav__free-delivery {
  display: none;
}

.main-nav__item {
  position: relative;
}

.main-nav__item svg {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  fill: #d3d2d2;
  &:hover {
    fill: $icon-color-default;
  }
  &:active {
    fill: #d0f1ea;
  }
}

.main-nav__item a {
  text-decoration: none;
  color: #000;
}

.page-header__logo--large {
  display: none;
}

.logo-in-footer svg {
  display: none;
}

//MENU

.main-nav__toogle {
  width: 50px;
  height: 50px;
  background: green;
  position: absolute;
  right: 0;
  top: 0;
}

.main-nav__service {
  display: none;
}

.main-nav {
  display: none;
}

.main-nav.open, .main-nav__service.open {
  display: block;
}

.logo-in-nav img {
  width: 100px;
  height: 35px;
}

//.nav-wrapper {
//  position: relative;
//}
//
//.main-nav__new-sell-out, .main-nav__free-delivery {
//  display: none;
//}
//.main-nav, .main-nav__service {
//  display: none;
//}
//.main-nav.open, .main-nav__service.open {
//  display: block;
//  position: absolute;
//  background: #fff;
//}
//
//.main-nav__service.open {
//  top: 60px;
//}
//.main-nav__toogle {
//  display: inline-block;
//  width: 20px;
//  height: 20px;
//}
//.main-nav__toogle div{
//  width: 20px;
//  height: 2px;
//  background: grey;
//  box-shadow: 0 7px 0 0 grey, 0 -7px 0 0 grey;
//  outline: none;
//  border: none;
//  position: relative;
//  top: 10px;
//}
//.main-nav__toogle.open div {
//  box-shadow: none;
//  transform: rotate(45deg);
//}
//.main-nav__toogle.open div::before {
//  content:"";
//  position: absolute;
//  display: block;
//  width: 20px;
//  height: 2px;
//  background: grey;
//  transform: rotate(-90deg);
//}

//.main-nav {
//  position: relative;
//  width: 300px;
//  min-height: 50px;
//  margin: 0 auto;
//  background-color: #fff;
//}
//
//.main-nav__toggle {
//  position: absolute;
//  top: 0px;
//  right: 0;
//  z-index: 2;
//  display: block;
//  width: 70px;
//  height: 50px;
//  font-size: 0;
//  background-color: #6a4d38;
//  cursor: pointer;
//  border: none;
//}
//
//.main-nav__toggle:hover {
//  background-color: #624530;
//}
//
//.main-nav--closed .main-nav__toggle::before {
//  content: "";
//  position: absolute;
//  top: 15px;
//  left: 17px;
//
//  width: 36px;
//  height: 2px;
//
//  background-color: #ffffff;
//  box-shadow: 0 8px 0 0 #ffffff,
//              0 16px 0 0 #ffffff;
//}
//
//.main-nav--opened .main-nav__toggle {
//  top: 227px;
//}
//
//.main-nav--opened .main-nav__toggle::before,
//.main-nav--opened .main-nav__toggle::after {
//  content: "";
//  position: absolute;
//  top: 24px;
//  left: 18px;
//  width: 36px;
//  height: 2px;
//  background-color: #ffffff;
//}
//.main-nav--opened .main-nav__toggle::before {
//  transform: rotate(45deg);
//  box-shadow: none;
//}
//
//.main-nav--opened .main-nav__toggle::after {
//  transform: rotate(-45deg);
//}
//
//.main-nav--closed .main-nav__item {
//    display: none;
//  }
//
//.main-nav--closed .main-nav__item--active {
//  display: block;
//}
//
//.main-nav--nojs .main-nav__toggle {
//    display: none;
//  }
//
//.main-nav--nojs .main-nav__wrapper {
//    position: static;
//
//    height: auto;
//  }
//
//  .main-nav--nojs .main-nav__item {
//    display: block;
//  }
//
//  .main-nav--nojs .main-nav__user-items {
//    display: block;
//
//    background-color: #6a4d38;
//  }


@media #{$tablet} {



  .main-nav__toggle {
    display: none;
  }

  .page-header__logo {
    margin-left: 47px;
  }

  .page-header__logo--large {
    display: block;
  }

  .page-header__logo--large img {
    width: 105px;
    height: 35px;
  }

  .nav-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav {
    display: block;
    flex-grow: 1;
    padding-left: 50px;
    border-top: 1px solid #ececec;
  }

  .main-nav__service {
    display: flex;
    justify-content: flex-end;
    min-width: 330px;
    order: 2;
  }

  .main-nav__service li:first-child {
    width: 85px;
    box-sizing: border-box;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .main-nav__service li:last-child {
    padding-left: 75px;
    padding-right: 50px;
  }

  .main-nav__item a {
  @include verdana-bold(16px, 24px);
}
  .main-nav__items .main-nav__item {
    padding-top: 18px;
  }

  .main-nav__items .main-nav__item:last-child {
    padding-left: 28px;
  }

  .main-nav__items .main-nav__item a {
    @include verdana-bold(14px, 24px)
  }

  .main-nav__item svg {
    top: 24px;
    left: 31px;
  }

  .hidden-media a {
    font-size: 0;
  }

  .main-nav__free-delivery {
    @include verdana-normal(14px, 24px);
    display: block;
    align-self: center;
//    padding-top: 28px;
//    padding-bottom: 28px;
    padding-right: 50px;
    border-top: 1px solid #ececec;
//    background-color: #f1f1f1;
  }

  .main-nav__items li:first-child {
    padding-left: 0;
  }

.main-nav__item {
  @include verdana-bold(14px, 24px);
  padding: 19px 0 28px 45px;
  border-bottom: 0;

  }

  .main-nav__service li,
  .main-nav__items li,
  .main-nav__new-sell-out li {
    display: inline-block;
  }

  .main-nav__toogle {
    display: none;
  }

  .main-nav__item--grey {
    padding-top: 19px;
    padding-bottom: 28px;
    padding-right: 15px;

  }

//  LOGO

  footer-decor__wrapper .logo-in-footer svg {
  display: block;
}

}

//MENU //////////////////////////////////////////////////

//.main-nav, .main-nav__service, .main-nav__free-delivery {
//  display: block;
//}

.main-nav {
  order: 3;
}

.main-nav__service {
  order: 2;
}

.main-nav__free-delivery {
  order: 4;
}

@media #{$desktop} {

  .nav-wrapper {
    justify-content: space-between;
  }

  .main-nav {
    order: 1;
//    was -3
    flex-grow: 0;
    padding-left: 50px;
    border-top: 0;
    background-color: transparent;
  }

  .main-nav__service li:last-child {
    padding-top: 25px;
  }

  .hidden-media {
    font-size: 0;
  }

  .main-nav__items .main-nav__item a {
    @include verdana-bold(16px, 24px);

  }

  .main-nav__items .main-nav__item:first-child {
    padding-top: 27px;
    border-right: 1px solid $borders;
  }

  .main-nav__item,
  .main-nav__free-delivery {
    padding-right: 36px;
  }

  .main-nav__items li:last-child {
    padding-left: 70px;
    padding-right: 0;
  }

  .main-nav__new-sell-out {
    display: block;
    order: 4;
    flex-grow: 1;
    border-top: 1px solid #ececec;
//    background-color: #f1f1f1;
  }

  .main-nav__new-sell-out li:first-child {
    padding-left: 50px;
    padding-right: 10px;
  }

  .main-nav__new-sell-out .main-nav__item a {
    @include verdana-bold(14px, 24px);
  }

  .page-header__logo {
    margin-top: 3px;
    margin-left: -37px;
    width: 150px;
    order: 2;
  }

  .page-header__logo:hover {
    opacity: .5;
    &:active {
      opacity: .2;
    }
  }

  .main-nav__item svg {
    top: 29px;
    left: 30px;
  }

  //MENU //////////////////////////////////////////////////



}
