.page-header {
//  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
//  height: 80px;
}





@media #{$tablet} {
  .page-header {
  justify-content: flex-start;
  }




}

//@media #{$desktop} {
// .page-header__logo {
////  position: absolute;
////  top: 0;
////  left: 50%;
////  margin-top: 10px;
////  margin-bottom: 10px;
////  margin-left: -75.2px;
//  width: 155px;
//  height: 75px;
////  background: url("/img/mishka-desktop.png") no-repeat 50% 50%;
//  }
//}
