.product__item-foto {
  margin-top: 30px;
}

.product__item-title {
  padding-left: 25px;
  @include verdana-bold(16px, 24px);
}

.product__item-descr {
  padding-left: 25px;
  @include open-sans-normal(14px, 30px);
}

.product__item-price {
  padding-left: 25px;
  @include verdana-bold(16px, 24px);
}
