.product-category {
  max-height: 475px;
  background: url("/img/hero-mobile@1x.jpg") no-repeat 50% 0;
}

.product-category__showcase-text {
  padding: 90px 15px 125px 15px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.product-category__interior {
  display: flex;
  align-items: center;
  height: 105px;
  background-color: #63d1bb;
}

.product-category__toys {
  display: flex;
  align-items: center;
  height: 105px;
  background-color: #56c3b2;
}

.product-category__link {
  text-decoration: none;
  font-family: "Tahoma", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #fff;
}

.product-category__link:hover {
  text-decoration: underline;
}