.promo-section {
  display: flex;
  align-items: center;
  height: 175px;
  text-align: center;
  background-color: #f1f1f1;
}

.promo-general {
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
}
