.promo-section {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 175px;
  text-align: center;
  background-color: #f1f1f1;
}

.promo-general {
  @include verdana-bold(24px, 30px);
  margin: auto;
}

.promo-section__icon svg {
  display: none;
}


@media #{$tablet} {

  .promo-section {
    margin-bottom: 5px;
    top: -71px;
    height: 223px;
    z-index: -1;
  }

  .promo-general {
  @include verdana-bold(40px, 50px);
    padding-top: 15px;
  margin: auto;
}

  .promo-section__icon svg {
    display: block;
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 30px;
}

}

@media #{$desktop} {

  .promo-section {
    margin-bottom: 56px;
    top: -71px;
    min-height: 250px;
    z-index: -1;
  }

  .promo-general {
  @include verdana-bold(50px, 57px);
  margin: auto;
    padding-top: 0;
}

  .promo-section__icon svg {
    height: 40px;
    bottom: -25px;
  }
}
