.reviews__text {
    @include open-sans-normal(14px, 30px);
}

.reviews__author {
    margin: 30px 0 5px 0;
    @include open-sans-bold(14px, 14px);
}

.reviews__author-web-name {
    @include open-sans-normal(14px, 14px);
    color: #444444;
}

.btn-reviews__write {
    margin-top: 30px;
}




@media #{$tablet} {
  .reviews {
    position: relative;
//  кнопка позиционируется ТОЛЬКО относительно .reviews, когда позиционирую относительно .reviews__title или .reviews__text улетает вверх
  }

  .btn-reviews__write {
    position: absolute;
    top: -36px;
    right: 0;
    width: 180px;
//  как переопределить ширину кнопки без использования !important
  }

  .title-for-sections {
    @include verdana-bold(40px, 50px);
  }

  .reviews__text {
    @include open-sans-normal(16px, 30px);
  }

}

@media #{$desktop} {

}
