.reviews {
  @include container;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.reviews__text {
    @include open-sans-normal(14px, 30px);
}

.reviews__author {
    margin: 30px 0 5px 0;
    @include open-sans-bold(14px, 14px);
}

.reviews__author-web-name {
    @include open-sans-normal(14px, 14px);
    color: #444444;
}

.btn-reviews__write {
    order: 1;
    margin-top: 30px;
}

.reviews__buttons {
  display: flex;
  margin: 30px 0;
}

.reviews__buttons-arrows:first-child {
  margin-right: 30px;
}

.reviews__buttons-arrows svg {
  width: 50px;
  height: 30px;
}


@media #{$tablet} {
  .reviews {
    position: relative;
    margin-top: 100px;
  }

  .reviews .btn-reviews__write {
    order: 0;
    align-self: center;
    width: 180px;
  }

  .title-for-sections {
    @include verdana-bold(40px, 50px);
  }

//  .reviews__text {
//    @include open-sans-normal(16px, 30px);
//  }

}

@media #{$desktop} {

  .reviews__title,
  .reviews__text,
  .reviews__author,
  .reviews__author-web-name {
    margin-left: 175px;
  }

}
