.week-product__tittle {
  margin-top: 75px;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.week-product__overall-text {
    font-size: 16px;
    line-height: 16px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: bold;
	font-style: normal;
    text-transform: uppercase;
    color: #63d1bb;
}

.week-product__descr {
    font-size: 14px;
    line-height: 24px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
	font-style: normal;
}

.week-product__options {
    font-size: 14px;
    line-height: 24px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
	font-style: normal;
}

.week-product__price {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-family: "Verdana", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
}

