.week-product__header {
  @include clearfix;
}

.week-product__tittle {
    margin-top: 75px;
    margin-bottom: 5px;
    @include verdana-bold(24px, 30px);
}

.week-product__overall-text {
    @include open-sans-bold(16px, 16px);
    text-transform: uppercase;
    color: #63d1bb;
}

.week-product__descr, .week-product__options {
    @include open-sans-normal(14px, 24px);
}

.week-product__price {
    margin: 30px 0;
    text-align: center;
    @include verdana-bold(16px, 24px);
}



@media #{$tablet} {

  .week-product__header {
    margin-top: 45px;
  }

  .week-product__tittle {
  margin-top: 5px;
  float: left;
  }

  .week-product__overall-text {
  float: right;
  }

  .week-product__wrapper {

    float: left;
    width: 290px;
    margin-right: 45px;
  }

  .week-product__descr {
    @include open-sans-normal(16px, 30px);
    margin-bottom: 50px;
  }

  .week-product__options {
    @include open-sans-normal(15px, 20px);
  }

  .week-product__foto {
    float: right;
  }

  .week-product__price {
    margin-top: 90px;
    text-align: center;
    //    не срабатывает marging-top и text-align
  }

}



@media #{$desktop} {

}
