.week-product {
  @include container;
}

.week-product__tittle {
  @include verdana-bold(23px, 30px);
  margin-top: 30px;
  margin-bottom: 0;
}

.week-product__overall-text {
  @include open-sans-bold(16px, 16px);
  margin-top: 10px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #63d1bb;
}

.week-product__descr,
.week-product__options {
    @include open-sans-normal(14px, 24px);
}

.week-product__descr {
  margin-bottom: 30px;
}

.week-product__options-main {
  padding: 10px 0;
  width: 100px;
  border-bottom: 1px solid #ececec;
}

.week-product__options-meaning {
  width: 260px;
  border-bottom: 1px solid #ececec;
}

.week-product__foto {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 260px;
  height: 315px;
  background: url("/img/triple-set-tablet@1x.jpg") no-repeat 0 0;
}

.week-product__price {
    @include verdana-bold(16px, 24px);
    margin-bottom: 30px;
    text-align: center;
    color: #444444;
}



@media #{$tablet} {
  .week-product {
    display: flex;
    flex-direction: column;
    min-height: 451px;
  }


  .week-product__tittle {
    @include verdana-bold(40px, 50px);
    margin-top: 5px;
  }

  .week-product__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 45px;
  }

  .week-product__body {
    display: flex;
  }

  .week-product__footer {
    margin-top: -121px;
    width: 259px;
  }

    .week-product__wrapper {
    width: 290px;
    margin-right: 45px;
  }

  .week-product__descr {
    @include open-sans-normal(16px, 30px);
    margin-bottom: 50px;
  }

  .week-product__options {
    @include open-sans-normal(15px, 20px);
  }

  .week-product__price {
    margin: auto;
    padding-bottom: 15px;
  }
}



@media #{$desktop} {

  .week-product__header {
    justify-content: flex-start;
    position: absolute;
    top: -20px;
    left: -28px;
  }

  .week-product__body {
    justify-content: flex-end;
  }

  .week-product__footer {
    margin-left: 195px;
  }

  .week-product__tittle {
    order: 1;
  }

  .week-product__overall-text {
    margin-right: 30px;
  }

  .week-product__foto {
    width: 525px;
    height: 636px;
    background-color: floralwhite;
    background: url("/img/triple-set-desktop@1x.jpg") no-repeat 50% 50%;
  }

  .week-product {
    position: relative;
    margin-top: 50px;
  }

  .week-product__tittle {
  @include verdana-bold(50px, 57px);
  margin-top: 5px;
  }

  .week-product__overall-text {
  margin-left: 30px;
  }

  .week-product__descr {
    @include open-sans-normal(16px, 30px);
    margin-top: 160px;
    margin-bottom: 50px;
  }

  td.week-product__options-main {
    width: 100px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;

//     &__options-meaning: 1px solid #ececec;
    }

}
